@font-face {
	font-family: Raleway-Bold;
	src: url("../Fonts/Raleway-Bold.ttf");
}
@font-face {
	font-family: Raleway-Regular;
	src: url("../Fonts/Raleway-Regular.ttf");
}
body {
	font-family: Raleway-Regular;
	font-size: 16px;
}
.navbar-light .navbar-nav .nav-link {
    padding: 5px 10px;
    letter-spacing: 2px;
    color: #272727;
    font-size: 12px;
}
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #ff3c41;
    color: #fff;
}
.navbar-light .navbar-brand {
    width: 50%;
}
.navbar-nav .nav-item.active .nav-link {
    background-color: #ff3c41;
    color: #fff;
}
.carousel .carousel-item img {
    width: 100%;
    transition: 1s linear;
}
.title {
	font-size: 40px;
	text-align: center;
	font-family: Raleway-Bold;
}
.about-img img {
	width: 100%;
}
.about-content {
	line-height: 30px;
}
.about-content h3 {
	color: #3c3c3c;
	font-family: Raleway-Bold;
	font-size: 100;
}
.about-content p {
	color: #777777;
	/* letter-spacing: 2px; */
}
.about-content button {
	font-size: 12px;
	font-family: Raleway-Bold;
	color: #777;
}
.bot div i {
	color: #76daff;
	font-size: 40px;
}
.bot-content h3 {
	font-family: Raleway-Bold;
	font-size: 20px;
}
.bot-content p {
	font-family: Raleway-Regular;
	font-size: 16px;
	letter-spacing: 1px;
	color: #777;
}
.bg-black {
	background-color: #1c1c1c;
}
.wwdtt {
	color: #fff;
}
.wwd {
	text-align: center;
}
.circle {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 2px solid #fff;
	text-align: center;
}
.circle i {
	font-size: 40px;
	line-height: 130px;
	color: #fff;
}
.circle:hover i {
	color: #76daff; 
}
.wwdbot h4 {
	font-size: 20px;
	font-family: Raleway-Bold;
	color: #fff;
}
.wwdbot p {
	font-size: 15px;
	font-family: Raleway-Regular;
	letter-spacing: 1px;
	color: #777;
}
.circle:hover {
	border: 2px solid #76daff; 
}
.post img {
	width: 100%;
}
.post:hover .text-content{
	background-color: #ff3c41;
}
.post .info h3 {
	font-size: 18px;
	font-weight: bold;
	color: #292929;
}
.post .info p {
	font-size: 16px;
	color: #777777;
}
.post:hover .info p {
	color: #fff;
}
.row, .couple .blog-content, .couple .blog-img {
	padding: 0;
	margin: 0;
}
.couple .blog-img img {
	width: 100%;
}
.couple .blog-content h4 {
	color: #ff0000;
	font-size: 15px;
} 
.couple .blog-content h3 {
	color: #222222;
	font-family: Raleway-Bold;
	font-size: 24px;
}
.couple .blog-content p {
	color: white;
	font-size: 16px;
}
.couple .blog-content {
	background-color: #76daff;
}
.btn-know-more {
	font-size: 12px;
	background-color: white;
	color: #222222;
	padding: 5px;
}
.btn-know-more:hover {
	background-color: #ff0000;
	color: white;
}
.testimonial {
	background-image: url(../images/bg_testimonial.png);
	padding: 30px;
}
.testi-img img {
	padding: 20px;
	border: 2px solid #777;
	border-radius: 2px;
	box-sizing: border-box;
	width: 255px;
}
.testi-content p {
	padding-right: 100px;
	font-size: 16px;
	color: #f7f7f7;
	line-height: 30px;
	letter-spacing: 1px;
}
.testi-content h3 {
	color: #76daff;
	font-size: 18px;
	font-family: Raleway-Bold;
}
.sign_text h3 {
	font-size: 24px;
	font-family: Raleway-Bold;
}
.sign {
	margin: 50px 0;
}
.nhan li {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 0 5px;
}
.footer-logo h6 {
	font-size: 12px;
	font-family: Raleway-Bold;
	color: #9f9f9f;
	line-height: 30px;
	letter-spacing: 3px;
}

.footer-logo .icon i {
	font-size: 36px;
	color: white;
	line-height: 60px;
}
.footer-logo .icon {
	width: 65px;
	height: 60px;
	margin-right: 15px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 5px;
}
.footer-logo .icon:nth-child(1) {
	background-color: #3b5998;
}
.footer-logo .icon:nth-child(2) {
	background-color: #00acee;
}
.footer-logo .icon:nth-child(3) {
	background-color: #f77737;
}
.footer-logo .icon:nth-child(4) {
	background-color: #bd081c;
}
.footer-logo p {
	color: #737070;
	font-size: 14px;
	line-height: 32px;
	letter-spacing: 1px;
}
.h_footer .title {
	margin-top: 25px;
	color: white;
	font-size: 24px;
	text-align: left;
}
.h_footer .title span {
	font-family: Raleway-Bold;
}
.footer-latest ul li a {
	color: #737070;
	text-decoration: none;
	letter-spacing: 1px;
	line-height: 32px;
	padding: 10px;
}
.footer-latest ul li {
	padding: 0;
}
.footer-latest ul li:hover a{
	background-color: #ff0000;
}
.footer-latest ul li:hover a {
	color: white;
	font-family: Raleway-Bold;
}
.footer-img {
	padding: 0;
	margin-right: 15px;
	margin-bottom: 15px;
}
.footer-img img {
	padding: 2px;
	border: 1px solid #777777;
}
.contact-item {
	color: white;
	letter-spacing: 2px;
}
.contact-item h6 i {
	margin-right: 5px;
}
.contact-item h6 {
	font-family: Raleway-Bold;
}
.contact-item p {
	margin-left: 20px;
	font-size: 14px;
	margin-top: 15px;
}
.footer-latest {
	display: none;
}
.footer-ourworks {
	display: none;
}
@media screen and (max-width: 1201px) {
	.h_footer .title {
		font-size: 24px;
	}
}
@media screen and (max-width: 1200px) {
	.couple .blog-content h4 {
		font-size: 12px;
	}
	.couple .blog-content h3 {
		font-size: 18px;
	}
	.couple .blog-content p {
		font-size: 14px;
	}
	.testi-content p {
		padding-right: 50px;
	}
	.h_footer .title {
		font-size: 20px;
	}
}
@media screen and (max-width: 992px) {
	.about-content {
		text-align: center;
	}
	.couple .blog-content h4 {
		font-size: 15px;
	}
	.couple .blog-content h3 {
		font-size: 24px;
	}
	.couple .blog-content p {
		font-size: 16px;
	}
	.testi-content p {
		padding-right: 0px;
	}
	
	.h_footer .title {
		font-size: 24px;
	}
}
.footer-latest ul {
	list-style: none;
	padding: 0;
}
@media screen and (max-width: 576px) {
	.bot div i {
		font-size: 80px;
	}
}
@media screen and (max-width: 376px) {
	.about-img {
		display: none;
	}
}