/* CSS Document */
@font-face {
	font-family: Roboto;
	src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: Roboto-Bold;
	src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
	font-family: Roboto-Light;
	src: url("../fonts/Roboto-Light.ttf");
}
body {
	font-family: Roboto;
}
.deal {
	background-image: url("../images/bg_banner.png");
	padding: 20px;
}
.container h3 {
	font-size: 24px;
	line-height: 60px;
	color: #444444;
}
.new-arr h3 {
	font-size: 20px;
	color: #5f5d5d;
}
.deal h1 {
	font-size: 48px;
	color: #444444; 
} 
.item-top {
	text-decoration: none;
	color: black;
	font-size: 20px;
}
.deal-time h1 {
	font-size: 72px;
	color: #444444;
	line-height: 48px;
}
.deal-time p {
	font-size: 18px;
	color: #444444;
	line-height: 48px;
}
.shopnow {
	width: 180px;
	height: 50px;
	color: #f7657c;
	background-color: white;
	border: none;
}
.shopnow:hover {
	color: white;
	background-color: #f7657c;
}
.new-item h4 {
	font-size: 20px;
	line-height: 60px;
	color: #5f5d5d;
}
.new-item p {
	font-size: 16px;
	line-height: 26px;
	color: #5f5d5d;
}
.value-right {
	color: #f7657c;	
	font-size: 20px;
	font-family: Roboto-Bold;
	padding-right: 15px;
}
.value-left {
	color: #5f5d5d;	
	font-size: 20px;
	font-family: Roboto-Bold;
	padding-left: 15px;
}
.under-footer {
	font-size: 14px;
	line-height: 30px;
	color: #fefefe;
}
.bg-footer {
	background-color: #252525;
}
.my-account {
	list-style: none;
	padding: 0;
}
.my-account li a {
	text-decoration: none;
	color: #fefefe;
	font-size: 14px;
	line-height: 30px;
}
.myac {
	font-size: 24px;
	color: #fefefe;
	line-height: 30px;
}
.color-button {
	background-color: #f7657c;
}
.color-footer {
	color: #fefefe;
}
.text-black {
	color: black;
}
.shop-re {
	position: relative;
}
.shop {
	width: 12px;
	height: 12px;
	background-color: red;
	color: white;
	font-size: 8px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 10px;
	left: 15px;
}
.new-arr {
	box-shadow: 2px 2px 5px #3e3e3e;
}
.andi {
	display: none;
}
.dealtime {
	width: 100px;
	margin: 100px;
}
.icon {
	list-style: none;
}
.icon li {
	float: left;
}
.value-left i {
	text-decoration: line-through;
}
.test {
	width: 200px;
	height: 50px;
	position: relative;
}
.test .top {
	position: absolute;
	top: 0;
	right: 0;
	width: 0%;
	height: 5px;
	transition: all 1s linear;
	background-color: #252525;
}
.test .bot {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 5px;
	transition: all 1s linear 1.25s;
	background-color: #252525;
}
.test .right {
	position: absolute;
	height: 0%;
	right: 0;
	bottom: 0;
	width: 5px;
	transition: all 0.25s linear 2.25s;
	background-color: #252525;
}
.test .left {
	position: absolute;
	height: 0%;
	left: 0;
	top: 0;
	width: 5px;
	transition: all 0.25s linear 1s;
	background-color: #252525;
}
.test:hover .top {
	width: 100%;
}
.test:hover .bot {
	width: 100%;
}
.test:hover .right {
	height: 100%;
}
.test:hover .left {
	height: 100%;
}
.test p {
	line-height: 50px;
	text-align: center;
}
::-webkit-input-placeholder {
	font-style: italic;
}
.footer {
	font-family: Roboto-Light;
}
.andi {
	display: none;
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 576px) {
	.navbrand {
		width: 100px;
	}
}
@media screen and (max-width: 420px) {
	.deal-time h1 {
		font-size: 50px;
	}
	.deal-time p {
		font-size: 12px;
	}
	.deal h1 {
		font-size: 36px;
	}
}